{{ allFriends | json }}
<div class="container">
  <form #formName="ngForm" novalidate (ngSubmit)="submitForm(friendModel)">
    <div class="form-floating mb-3">
      <input
        required
        #firstName="ngModel"
        [(ngModel)]="friendModel.firstName"
        [class.is-invalid]="firstName.invalid && firstName.touched"
        class="form-control"
        type="text"
        name="firstName"
        id="firstName"
        placeholder="Firstname"
      />
      <label for="firstName">First Name</label>
    </div>

    <div class="form-floating mb-3">
      <input
        required
        #lastName="ngModel"
        [(ngModel)]="friendModel.lastName"
        [class.is-invalid]="lastName.invalid && lastName.touched"
        class="form-control"
        type="text"
        name="lastName"
        id="lastName"
        placeholder="Lastname"
      />
      <label for="lastName">Last Name</label>
    </div>

    <div class="form-floating mb-3">
      <input
        required
        #email="ngModel"
        [(ngModel)]="friendModel.email"
        [class.is-invalid]="email.invalid && email.touched"
        class="form-control"
        type="email"
        name="email"
        id="email"
        placeholder="Email"
      />
      <label for="email">Email</label>
    </div>

    <div class="form-floating mb-3">
      <input
        required
        #phoneNumber="ngModel"
        [(ngModel)]="friendModel.phoneNumber"
        [class.is-invalid]="phoneNumber.invalid && phoneNumber.touched"
        class="form-control"
        type="tel"
        name="phoneNumber"
        id="phoneNumber"
        placeholder="Phone number"
      />
      <label for="phoneNumber">Phone Number</label>
    </div>

    <select
      required
      #language="ngModel"
      ngModel="{{ selected }}"
      [(ngModel)]="friendModel.language"
      [class.is-invalid]="language.invalid && language.touched"
      class="form-select"
      name="language"
      id="language"
    >
      <option selected disabled>{{ selected }}</option>
      <option
        *ngFor="let language of languages; trackBy: trackByIndex"
        [value]="language"
      >
        {{ language }}
      </option>
    </select>

    <button
      [disabled]="formName.form.invalid"
      type="submit"
      class="btn btn-primary mt-3"
    >
      Submit
    </button>
  </form>

  <div class="row">
    <div *ngFor="let friend of allFriends" class="col mt-3">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">
            {{ friend.firstName }} {{ friend.lastName }}
          </h5>
          <p class="card-text">
            Email: {{ friend.email }} / Phone: {{ friend.phoneNumber }} /
            Favorite language: {{ friend.language }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
